@media only screen and (max-width: 600px) and (min-width: 328px){
    .main-container{
        margin: 2% 0 0 0;
        padding: 2% 2%;
    }

    .info{
        background-color: var(--theme-text-color);
        color: white;
        padding: 2%;
        border-radius: 5px;
        display: block;
        text-align: justify;
        width: 100% !important;
    }

    .task-header, .task-description{
        color: var(--theme-text-color);
        display: inline-flex;
        width: 100%;
    }

    .task-header .title{
        width: 80%;
        text-align: left;
    }

    .task-header .status{
        width: 20%;
        text-align: right;
    }

    .task{
        transition: 0.5s;
        border-radius: 5px;
    }

    .task:hover{
        box-shadow: 0px 2px 5px;
    }

    .task-description .owner, .task-description .date{
        width: 50%;
    }

    .owner{
        text-align: left;
    }

    .date{
        text-align: right;
    }
}